<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/forms.css" />
        <link rel="stylesheet" href="/css/navbar.css" />
    <title>admin</title>
</head>
<body>
     <%- include("../partials/navbar", { user }) %>
     <table class="user-table">
    <tr>
        <th>Username</th>
        <th>Member</th>
        <th>Admin</th>
        <th>Action</th>
    </tr>

    <% members.forEach(member => { %>
    <tr>
        <form action="/admin/update-user" method="POST">
            <td><%= member.username %></td>

            <td>
                <input 
                    type="checkbox" 
                    name="is_member"
                    <%= member.is_member ? "checked" : "" %>
                />
            </td>

            <td>
                <input 
                    type="checkbox" 
                    name="is_admin"
                    <%= member.is_admin ? "checked" : "" %>
                    <%= member.id === user.id ? "disabled" : "" %>
                />
            </td>

            <td>
                <input type="hidden" name="id" value="<%= member.id %>" />
                <button class="save-btn" type="submit">Save</button>
            </td>
        </form>
    </tr>
    <% }) %>
</table>



</body>
</html>