<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="/css/forms.css" />
        <title>Home</title>
    </head>
    <body>
        <%- include("../partials/navbar", { user }) %>
        <h1>Welcome to Pulse</h1>
        <% if (error) { %>
        <p id="error"><%= error %></h1>
        <% } %>
        <div class="all-post-container">
            <% if (data.length > 0) { %>
                <% data.forEach(post => { %>
                    <div class="post-card">
                        <h2 class="post-title">
                            <%= post.title %>
                              <% if (user && user.is_admin ) { %>
                             <div class="post-card-btn">
                               <form style="padding: 0;" action="/posts/delete/<%= post.id %>" method="post" >
                                  <button class="delete-btn"><img src="/icons/trash.png" alt="" width="20px"></button>
                               </form>
                            </div>
                            <% } %>
                        </h2>
                        <p class="post-desc"><%= post.description %></p>
                        <% if (user && user.is_member === true) { %>
                            <p><%= post.created_at.toLocaleString() %></p>
                            <p>Posted by: <%= post.username %></p>
                            <% } %>
                    </div>
                    <% }) %>
            <% } %>
        </div>
    </body>
</html>
